<!--The whole content below can be removed with the new code.-->

<div style="text-align:center">
  <h1>Angular 4 Bindings</h1>
  <h2>
    Complete Name is {{title}}!!
  </h2>
  <div class="container">
    <!-- Using 2 way binding to take the first and last name from component.ts file
    and then using a fucntion set it to title -->
    <!-- also using the event binding (change) to update the first and last name -->
    <div class="textbox">
      <input type="text" [value]="firstname" (change)="firstname=$event.target.value">
      <input type="text" [value]="lastname" (change)="lastname=$event.target.value">
      <button type="button" (click)="clickme()">Clickme</button>


    </div>
  </div>  